@(scenarios:List[(Int,String)],games:List[(Int,String)])

@main("Welcome to Play") {
  <h1>Welcome to Choose your own adventure!</h1>
  <h2>Start a new game with one of the scenarios:</h2>
  <ul>
    @for( (id,title)<-scenarios){
      <li class="button" ><a href=@("/game?scenario="+id)> <span>@title</span></a></li>
    }
  </ul>
  <h2>Continue started game:</h2>
  <ul>
    @for( (id,title)<-games){
      <li class="button"><a  href=@("/game_show?game="+id)>@id <span> @title</span></a> </li>
    }
  </ul>
}
